* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: white;
  opacity: 0.9;
  position :fixed;
  top: 0;
  z-index: 2;
}
.logo {
  color: #302833;
  font-size: 20px;
  font-weight: bolder;
  width: 124px;
  margin-top: 20px;
  margin-left: 10px;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
  margin: 0 25px;
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: #544a47;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-right a:hover {
  background-color: #eee7dd;
  opacity: 0.3;
}

#show {
  display: none;
}
#show, #hide {
  position: absolute;
  top: 10;
  right: 0;
  cursor: pointer;
  color: #544a47;
  font-size: 25px;
  padding: 10px 10px;
}
#menu {
  z-index: 3;
  position: fixed;
  top: -150px;
  right: 0;
  color: #544a47;
  background: #fff;
  padding: 8px;
  box-sizing: border-box;
  min-width: 100%;
  height: 150px;
  transition: .4s;
  display: none;
}
#cover {
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.menu-list{
  padding-top: 10px;
}
.menu-list ul {
  width: 100%;
  list-style: none;
}
.menu-list li {
  float: left;
  width: 50%;
  font-size: 20px;
  letter-spacing: 2px;
}
.menu-list a {
  line-height: 25px;
  color: #544a47;
  transition: all 0.5s;
}
.menu-list a:hover {
  opacity: 0.3;
}

.top-wrapper {
  height: 600px;
  padding: 100px 0 100px 0;
  background-image: url(top1.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.top-wrapper h1 {
  padding: 10px 10px;
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  padding: 10px 10px;
  opacity: 0.8;
  font-size: 25px;
}

.about {
  background: rgba(255, 193, 224, 0.9);
  border-top-right-radius: 1000px 100px;
  border-top-left-radius: 1000px 100px;
  border-bottom-right-radius: 1000px 100px;
  border-bottom-left-radius: 1000px 100px;
  text-align: center;
}
.title{
  text-align: center;
  margin: 0;
  padding-top: 30px;
  font-size: 30px;
  color: white;
  font-weight: normal;
}
.title h1 {
  display: inline-block;
  position: relative;
  padding-bottom: 0;
}
.title h1::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  box-sizing: border-box;
  border-top: 3px solid white;
  border-bottom: 1px solid white;
}

.profile img {
  display: inline-block;
  width: 250px;
  border-radius: 50px 3px;
}
.about-list {
  text-align: center;
}
.about-list ul{
  display: inline-block;
  text-align: left;
  list-style: none;
}
.about-list li {
  color: #544a47;
}

.about-info {
  text-align: center;
}

.about-info p {
  display: inline-block;
  text-align: left;
  color: #544a47;
  padding: 0 50px;
  margin-bottom: 50px;
}
.about h2 {
  font-size: 29px;
  text-align: center;
  margin: 0;
  color: #302833;
}

.fas {
  margin-right: 5px;
}
.far {
  margin-right: 5px;
}

.skill {
  background: #fff;
  padding: 0;
  margin-top: 0;
  color: #666;
  text-align: center;
  box-sizing: border-box;
}
.skill h1 {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  margin-top: 60px;
  margin-bottom: 0;
  font-size: 30px;
  font-style: normal;
}
.skill h1::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  box-sizing: border-box;
  border-top: 3px solid #666;
  border-bottom: 1px solid #666;
}

.skill h2 {
  font-size:2rem;
  display: block;
  /* background: #fff; */
  padding: .1em .5em;
  margin: 0;
}

.skill p {
  max-width: 40em;
  text-align: left;
  /* background: #fff; */
  padding: .1em .5em;
}

.fa-laptop {
  font-size: 170px;
  color: turquoise;
  margin: 0;
}
.fa-network-wired {
  font-size: 170px;
  color: #e9f503;
  margin: 0;
}
.fa-mobile-alt {
  font-size: 170px;
  color: yellowgreen;
  margin: 0;
}
.fa-wordpress {
  font-size: 170px;
  color: #b670c4;
  margin: 0;
}
.fa-video {
  font-size: 170px;
  color: #f74e4e;
  margin: 0;
}

[class*="box"] {
  position: sticky;
  top: -5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.box1 {
  height: 100vh
}

.box2 {
  -webkit-clip-path: polygon(0 0, 100% 5em, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 5em, 100% 100%, 0% 100%);
  height: calc(100vh + 5em);
  margin-top: -5em;
}

.box3 {
  -webkit-clip-path: polygon(0 0, 12.5% 4em, 25% 0, 37.5% 4em, 50% 0, 62.5% 4em, 75% 0, 87.5% 4em, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 12.5% 4em, 25% 0, 37.5% 4em, 50% 0, 62.5% 4em, 75% 0, 87.5% 4em, 100% 0, 100% 100%, 0 100%);
  height: calc(100vh + 5em);
  margin-top: -5em;
}

.box4 {
  -webkit-clip-path:circle(120vh at 50% 121vh);
  clip-path:circle(120vh at 50% 121vh);

  height: calc(100vh + 5em);
}

.box5 {
  background-attachment: fixed;
  background-size: cover;
  animation: clip-motion 3s ease-in-out infinite;
  height: calc(100vh + 5em);
}
  /* 背景の設定 */
  .box1{background: #fff;}
  .box2{background: #bbc4c6;}
  .box3{background: #fff;}
  .box4{background: #ccc;}
  .box5{background: #fff;}

@keyframes clip-motion {
0%,
100% {
  -webkit-clip-path: polygon(0 0, 12.5% 4em, 25% 0, 37.5% 3em, 50% 0, 62.5% 4em, 75% 0, 87.5% 3em, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 12.5% 4em, 25% 0, 37.5% 3em, 50% 0, 62.5% 4em, 75% 0, 87.5% 3em, 100% 0, 100% 100%, 0 100%);
}

50% {
  -webkit-clip-path: polygon(0 0, 12.5% 0em, 25% 0, 37.5% 0em, 50% 0, 62.5% 0em, 75% 0, 87.5% 0em, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 12.5% 0em, 25% 0, 37.5% 0em, 50% 0, 62.5% 0em, 75% 0, 87.5% 0em, 100% 0, 100% 100%, 0 100%);
}
}
.movie-btn {
  background: tomato;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 50px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 4px;
}
.movie-btn:hover {
  opacity: 0.9;
}

.portfolio {
  background: rgba(194, 255, 224, 0.9);
  border-top-right-radius: 1000px 100px;
  border-top-left-radius: 1000px 100px;
  border-bottom-right-radius: 1000px 100px;
  border-bottom-left-radius: 1000px 100px;
  text-align: center;
}
.items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 65px;
  padding-left: 35px;
  padding-right: 35px;
}
.items .item {
  width: 30%;
}

.item-img {
  padding: 0;
}
.item-body {
  padding: 0;
}
.item-title {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 500;
  color: #544a47;
}
.text-contents {
  font-weight: 400;
  color: #544a47;
  display: none;
}
.text-active {
  display: block;
}
.item-img{
  border-style: none;
}
/* マウスを乗せたときの動き */
.item-img:hover{
  opacity: 0.8;
  transition: 0.5s;
}
/* 画像のサイズ指定 */
.item-img img{
  width: 300px;
  height: auto;
}

.contact {
  background: rgba(255, 254, 191, 0.9);
  border-top-right-radius: 1000px 100px;
  border-top-left-radius: 1000px 100px;
  border-bottom-right-radius: 1000px 100px;
  border-bottom-left-radius: 1000px 100px;
  text-align: center;
}
.lead-form{
  margin-top: 0;
  text-align: center;
  font-size:20px;
  color: #544a47;
}
form{
  width:460px;
  margin:0 auto;
  padding-bottom: 65px;
}
.form-item{
  overflow: hidden;
  margin-bottom: 20px;
}
.label{
  float: left;
  margin-right: 20px;
  width:135px;
  border-left: solid 3px #f5c803;
  padding-left: 10px;
  color: #544a47;
  font-size: 15px;
}
.inputs{
  display: flex;
  width:300px;
}
input[type="text"],input[type="email"]{
  border: solid 1px #aaa;
  border-radius:5px;
  padding:10px;
  font-size: 15px;
}
textarea{
  border: solid 1px #aaa;
  border-radius:5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}
.btn-area{
  text-align: center;
}
input[type="submit"]{
  background: #f5c803;
  border: none;
  border-radius:5px;
  color: #544a47;
  font-size:17px;
  font-weight:bold;
  padding: 10px 20px;
  margin: 0 5px;
}
input[type="submit"]:hover {
  background: white;
  opacity: 0.8;
}
input[type="reset"]{
  background: rgb(216, 215, 215);
  border: none;
  border-radius:5px;
  color: white;
  font-size:17px;
  font-weight:bold;
  padding: 10px 20px;
  margin: 0 5px;
}
input[type="reset"]:hover {
  background: rgb(167, 165, 165);
  opacity: 0.8;
}

footer {
  height: 65px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
footer p {
  color: #b3b2b2;
  font-size: 12px;
  font-style: italic;
}
